.header
	header.header__bar
		.header__bar-inner
			.header__logo
				img(width="309" height="49" src="images/logo.png" alt="")

			nav.header__menu
				| fsdfsdfsd

			.header__extra
				.header__vk-share
					| Поделиться
