.header
    header.header__bar
        .header__bar-inner
            .header__logo
                a(href="#")
                    img(width="309" height="49" src="img/logo.png" alt="")

            nav.header__menu
                ul.header__menu-list
                    li.header__menu-item._quests
                        a.header__menu-link(href="#")
                            | Квесты

                    li.header__menu-item._rules
                        a.header__menu-link(href="#")
                            | Правила игры

                    li.header__menu-item._reservation
                        a.header__menu-link(href="#")
                            | Бронирование

                    li.header__menu-item._contacts
                        a.header__menu-link(href="#")
                            | Контакты

            .header__extra
                .header__vk-share.
                    <!-- Put this script tag to the place, where the Share button will be -->
                    <script type="text/javascript"><!--
                    document.write(VK.Share.button({url: "http://nextstep54.ru/"},{type: "button_nocount", text: "Поделиться"}));
                    --></script>


            .header__join
                span.header__join-text Присоединяйся <br>к нам:
                a.header__join-link._vk(href="https://vk.com/real_questnsk")
                a.header__join-link._instagramm(href="https://instagram.com/nextstep54.ru")
