doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
	<!--<![endif]-->
	head
		include ./includes/head.jade

	body
		include ./includes/header.jade
		.page
			.content
				section.pick-date
					.pick-date__inner
						ul.pick-date__list
							li.pick-date__item(data-id="1" data-date="2015-12-13")
								span.pick-date__item-day 29
								span.pick-date__item-month ноября
								span.pick-date__item-available свободно <br>10 игр
							
							li.pick-date__item(data-id="1" data-date="2015-12-13")
								span.pick-date__item-day 30
								span.pick-date__item-month ноября
								span.pick-date__item-available свободно <br>10 игр


		include ./includes/footer.jade