@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamPro-Black');
    src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro-Black.woff') format('woff'),
         url('../fonts/GothamPro-Black.ttf') format('truetype'),
         url('../fonts/GothamPro-Black.svg#GothamProBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamProLight';
    src: url('../fonts/GothamPro-Light');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro-Light.woff') format('woff'),
         url('../fonts/GothamPro-Light.ttf') format('truetype'),
         url('../fonts/GothamPro-Light.svg#GothamProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamProMedium';
    src: url('../fonts/GothamPro-Medium');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro-Medium.woff') format('woff'),
         url('../fonts/GothamPro-Medium.ttf') format('truetype'),
         url('../fonts/GothamPro-Medium.svg#GothamProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Revue_Cyrillic';
    src: url('../fonts/Revue_Cyrillic');
    src: url('../fonts/Revue_Cyrillic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Revue_Cyrillic.woff') format('woff'),
         url('../fonts/Revue_Cyrillic.ttf') format('truetype'),
         url('../fonts/Revue_Cyrillic.svg#Revue_Cyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
}