.pick-date {
    width: 800px;
    margin: 0 auto 110px auto;
}

    .pick-date__inner {
        height: 316px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

        .pick-date__list {
            @include cf;
            font-size: 0px;
            position: relative;

            &._ready {
                white-space: nowrap;
            }
        }
            .pick-date__item-h {
            }

            .pick-date__item-h,
            .pick-date__item {
                display: inline-block;
                vertical-align: top;
                white-space: normal;
            }

            .pick-date__item {
                width: 125px;
                height: 150px;
                margin: 4px;
                background: #7a7a79;
                background: -moz-linear-gradient(-45deg,  #7a7a79 0%, #205066 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7a7a79), color-stop(100%,#205066)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(-45deg,  #7a7a79 0%,#205066 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(-45deg,  #7a7a79 0%,#205066 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(-45deg,  #7a7a79 0%,#205066 100%); /* IE10+ */
                background: linear-gradient(135deg,  #7a7a79 0%,#205066 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a79', endColorstr='#205066',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                border-radius: 7px;
                cursor: pointer;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
                transition: 0.3s;

                &:hover {
                    box-shadow: inset 0 0 60px 3px rgba(#fff, 0.3);
                }

                &._active {
                    box-shadow: inset 0 0 60px 3px rgba(#ae2626, 1);
                }
            }

                .pick-date__item-day {
                    @include font(60, 68, 'Black');
                    margin-top: 5px;
                    display: block;
                }

                .pick-date__item-month {
                    @include font(23, 26, 'Black');
                    margin-bottom: 5px;
                    display: block;
                }

                .pick-date__item-available {
                    @include font(15, 16, 'Light');
                    display: block;
                }


    .pick-date__controls {
        position: relative;
        z-index: 2;
    }

        .pick-date__controls-prev,
        .pick-date__controls-next {
            position: absolute;
            top: 108px;
            width: 60px;
            height: 104px;
        }

        .pick-date__controls-prev {
            background: url('../img/quest_arrow_prev.png');
            left: -79px;
        }
        .pick-date__controls-next {
            background: url('../img/quest_arrow_next.png');
            right: -79px;
        }